body {
    margin: 0;
    padding: 0;
    background-color: #6b503f; /* Brown background color */
}

.content-container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fff; /* White text color for the title */
}

.post-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create a grid with 4 columns */
    gap: 20px; 
    margin-top: 20px;
}

.post {
    position: relative;
}

.post img {
    width: 100%; /* Make each image fill the width of its container */
    border: 1px solid #fff; 
    border-radius: 10px; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* White overlay with 80% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
}

.post:hover .overlay {
    opacity: 1; /* Show the overlay on hover */
}

.actions {
    display: flex;
    justify-content: space-around;
    width: 80%; 
    font-size: 20px;
    color: red; 
}

.like, .comments {
    cursor: pointer;
}

